
//图片外部的容器方框 
.out-img-topic {
  display: block;
  max-height:128px;
  max-width:128px;
  margin-bottom: 0px;
  overflow: hidden;
  float: right;
  clear: right;
}
//图片
.img-topic {
  width: 128px;
  height: 100%;
  display: block;
  margin-right: .7em;
  margin-left: .7em;
  padding: 0;
  float: center;
}
